<!Doctype html>
<html lang="eg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"  content="width=device-width, initial-scale=1.0">
        <title>Login page</title>

   </head>
   <body>
    <form name ="index" action="/createuser" method="post">
        <h1>Login Page</h1>
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" placeholder="Your name.."><br>


        <input type="submit" value="Submit">


    </form>
    </body>
</html>